/*绿色*/
.md2html {
    font-size: 16px;
    color: #3e3e3e;
    line-height: 1.6;
    word-spacing:0px;
    letter-spacing:0px;
    /*font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;*/
}

p {/*段落*/
    margin: 1.5em 0;
}
h1,h2,h3,h4,h5,h6 {
    margin: 1.5em 0;
    font-weight:bold;
    color:#159957;      /*改变了其默认的标题颜色*/
}
h1 {
    font-size: 1.6em  ;

}
h2 {
    font-size: 1.4em;
}
h3 {
    font-size: 1.3em;
}
h4 {
    font-size: 1.2em;
}
h5 {
    font-size: 1em;
}
h6 {
    font-size: 1em;
}

ul, ol {
    padding-left: 32px;
}
ul{ /*无序列表*/
    list-style-type: disc;
}
ol { /*有序列表*/
    list-style-type: decimal;
}
li *
{
    /* color: #3e3e3e;*/
}

li{  /*在公众号下，改变不了li符号的属性（如颜色），并会影响其子元素的属性;而在其它博客平台中，则能正常使用*/
    margin-bottom: 0.5em;
    /*  color:#159957; */
}

blockquote { /*引用块*/
    display: block;
    padding: 15px 1rem;
    font-size: 0.9em;
    padding-right: 15px;
    margin: 1em 0;
    color: #819198;
    border-left: 6px solid #dce6f0;
    background: #f2f7fb;
    overflow: auto;
    overflow-scrolling: touch;
    word-wrap: normal;
    word-break: normal;
}
blockquote p {
    margin: 0px;
}

a { /*超链接*/
    text-decoration: none;
    color: #1e6bb8;
    word-wrap:break-word;
}

strong  /*强调*/
{
    font-weight: bold;
}
em /*斜体*/
{
    font-style:italic;
}
del /*删除线*/
{
    font-style:italic;
}
strong em/*强调的斜体*/
{
    font-weight: bold;
}

hr {  /*分隔线*/
    height: 1px;
    margin: 1.5rem 0px;
    border: none;
    border-top: 1px dashed #A5A5A5;
}

img
{
    display: block;
    margin:0 auto;  /*图片水平居中*/
    /* margin:0 0;  */ /*图片水平居左，如需要请打开*/
    max-width:100%;
}
figcaption/*图片描述文字*/
{
    margin-top:10px;
    text-align:center;
    /* text-align:left;  */ /*当图片水平居左时，请打开*/
    color:#999;
    font-size: 0.7em;
}

/*================表格开始================*/
table
{
    display:table;
    width: 100% ;
    text-align: left;
}
tbody {
    border: 0;
}

table tr {
    border: 0;
    border-top: 1px solid #CCC;
    background-color: white;

}

table tr th, table tr td {
    font-size: 1em;
    border: 1px solid #CCC;
    padding: 0.5em 1em;
    text-align: left;
}
/*表头的属性*/
table tr th {
    font-weight: bold;
    background-color: #F0F0F0;
}
/*================表格结束================*/

a[href^="#"] sup
{/*注脚*/
    vertical-align:super;
    margin:0 2px;
    padding:1px 3px;
    color: #ffffff;
    background:#666666;
    font-size:0.7em;
}