@font-face {
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: normal;
	src: local('PT Serif'), local('PTSerif-Regular'), url('newsprint/pt-serif-v9-latin-regular.woff') format('woff');
}
@font-face {
	font-family: 'PT Serif';
	font-style: italic;
	font-weight: normal;
	src: local('PT Serif'), local('PTSerif-Italic'), url('newsprint/pt-serif-v9-latin-italic.woff') format('woff');
}

@font-face {
	font-family: 'PT Serif';
	font-style: normal;
	font-weight: bold;
	src: local('PT Serif'), local('PTSerif-Bold'), url('newsprint/pt-serif-v9-latin-700.woff') format('woff');
}

@font-face {
	font-family: 'PT Serif';
	font-style: italic;
	font-weight: bold;
	src: local('PT Serif'), local('PTSerif-BoldItalic'), url('newsprint/pt-serif-v9-latin-700italic.woff') format('woff');
}

pre {
	--select-text-bg-color: #36284e;
	--select-text-font-color: #fff;
}

.md2html {
	background-color: #f3f2ee;
	font-family: "PT Serif", 'Times New Roman', Times, serif !important;
	color: #1f0909;
	line-height: 1.5em;
}

ol li {
	list-style-type: decimal;
	list-style-position: outside;
}
ul li {
	list-style-type: disc;
	list-style-position: outside;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}
h1 {
	font-size: 1.875em;
	/*30 / 16*/
	line-height: 1.6em;
	/* 48 / 30*/
	margin-top: 2em;
}
h2,
h3 {
	font-size: 1.3125em;
	/*21 / 16*/
	line-height: 1.15;
	/*24 / 21*/
	margin-top: 2.285714em;
	/*48 / 21*/
	margin-bottom: 1.15em;
	/*24 / 21*/
}
h3 {
	font-weight: normal;
}
h4 {
	font-size: 1.125em;
	/*18 / 16*/
	margin-top: 2.67em;
	/*48 / 18*/
}
h5,
h6 {
	font-size: 1em;
	/*16*/
}
h1 {
	border-bottom: 1px solid;
	margin-bottom: 1.875em;
	padding-bottom: 0.8125em;
}
/* links */

a {
	text-decoration: none;
	color: #065588;
}
a:hover,
a:active {
	text-decoration: underline;
}
/* block spacing */

p,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 1.5em;
}

blockquote {
	font-style: italic;
	border-left: 5px solid;
	margin-left: 5px;
	padding-left: 1em;
}
/* lists */

ul,
ol {
	margin: 0 0 1.5em 1.5em;
}

table {
	margin-bottom: 1.5em;
	/*24 / 16*/
	font-size: 1em;
	/* width: 100%; */
}
thead th,
tfoot th {
	padding: .25em .25em .25em .4em;
	text-transform: uppercase;
}
th {
	text-align: left;
}
td {
	vertical-align: top;
	padding: .25em .25em .25em .4em;
}

code{
	background-color: #dadada;
	padding-left: 2px;
	padding-right: 2px;
	font-size: 1em !important;
}

pre, code,
tt {
	font-size: .875em;
	line-height: 1.714285em;
}

h1 {
	line-height: 1.3em;
	font-weight: normal;
	margin-bottom: 0.5em;
}

p + ul,
p + ol{
	margin-top: .5em;
}

h3 + ul,
h4 + ul,
h5 + ul,
h6 + ul,
h3 + ol,
h4 + ol,
h5 + ol,
h6 + ol {
	margin-top: .5em;
}

li > ul,
li > ol {
	margin-top: inherit;
	margin-bottom: 0;
}

li ol>li {
	list-style-type: lower-alpha;
}

li li ol>li{
	list-style-type: lower-roman;
}

h2,
h3 {
	margin-bottom: .75em;
}
hr {
	border-top: none;
	border-right: none;
	border-bottom: 1px solid;
	border-left: none;
}
h1 {
	border-color: #c5c5c5;
}
blockquote {
	font-size: inherit;
	border-color: #bababa;
	color: #656565;
}

blockquote ul,
blockquote ol {
	margin-left:0;
}

thead {
	background-color: #dadada;
}
tr:nth-child(even) {
	background: #e8e7e7;
}
hr {
	border-color: #c5c5c5;
}

header, footer {
	font-family: "PT Serif", 'Times New Roman', Times, serif;
	color: #1f0909;
}

input {
	border: 1px solid #aaa;
}