@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: normal;
	src: local('Merriweather Light'), local('Merriweather-Light'), url('pixyll/merriweather-v19-latin-300.woff') format('woff');
}
@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: bold;
	src: local('Merriweather Heavy'), local('Merriweather-Heavy'), url('pixyll/merriweather-v19-latin-700.woff') format('woff');
}
@font-face {
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: normal;
	src: local('Merriweather Light Italic'), local('Merriweather-LightItalic'), url('pixyll/merriweather-v19-latin-300italic.woff') format('woff');
}
@font-face {
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: bold;
	src: local('Merriweather Heavy Italic'), local('Merriweather-HeavyItalic'), url('pixyll/merriweather-v19-latin-700italic.woff') format('woff');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: normal;
	src: local('Lato Light'), local('Lato-Light'), url('pixyll/lato-v14-latin-300.woff') format('woff');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: bold;
	src: local('Lato Black'), local('Lato-Blcak'), url('pixyll/lato-v14-latin-900.woff') format('woff');
}
@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: normal;
	src: local('Lato LightItalic'), local('Lato-LightItalic'), url('pixyll/lato-v14-latin-300italic.woff') format('woff');
}
@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: bold;
	src: local('Lato BlackItalic'), local('Lato-BlackItalic'), url('pixyll/lato-v14-latin-900italic.woff') format('woff');
}

h1,
.h1,
.f1 {
	font-size: 2em;
	line-height: 2.5em;
}
h2,
.h2,
.f2 {
	font-size: 1.5em;
	line-height: 2em;
}
h3,
.h3,
.f3 {
	font-size: 1.25em;
	line-height: 1.5em;
}
p, .p, .f4, h4, h5, h6, dl, ol, ul, table p{
	font-size: inherit;
	line-height: inherit;
}

h4 {
	font-size: 1.13em;
}
img {
	width: auto;
	max-width: 100%;
}

.md2html {
	/*font-family: "Merriweather", "PT Serif", Georgia, "Times New Roman", "STSong", Serif, serif;*/
	font-weight: 400;
	font-size: 16px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

table {
	width: 100%;
	font-size: 14px;
}
table > thead > tr > th,
table > thead > tr > td,
table > tbody > tr > th,
table > tbody > tr > td,
table > tfoot > tr > th,
table > tfoot > tr > td {
	padding: 12px;
	line-height: 1.2;
	vertical-align: top;
	border-top: 1px solid #333;
}
table > thead > tr > th {
	vertical-align: bottom;
	border-bottom: 2px solid #333;
}
table > caption + thead > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > th,
table > thead:first-child > tr:first-child > td {
	border-top: 0;
}
table > tbody + tbody {
	border-top: 2px solid #333;
}
abbr {
	border-bottom: 1px black dotted;
	cursor: help;
}
pre , code {
	font-family: Menlo, Monaco, "Courier New", monospace;
}

code{
	color: #7a7a7a;
}

blockquote {
	font-size: inherit;
	padding: 1.33em;
	font-style: italic;
	border-left: 5px solid #7a7a7a;
	color: #555;
}
blockquote em {
	color: #000;
}
blockquote footer {
	font-size: .85rem;
	font-style: normal;
	background-color: #fff;
	color: #7a7a7a;
	border-color: transparent;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	/*font-family: "Lato", 'Helvetica Neue', Helvetica, sans-serif;*/
	font-weight: bold;
	line-height: 1.2;
	margin: 10px 0;
}

a {
	color: #463F5C;
	text-decoration: underline;
}