/*红色网格*/
.md2html {
    font-size: 15px;/*更改默认的字体大小*/
    color: #3e3e3e;
    line-height: 1.8; /*更改默认的行距*/
    word-spacing:2px; /*更改默认的词间距*/
    letter-spacing:2px;/*更改默认的字符间距*/
    font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;

    /*增加背景网格*/
    background-image: linear-gradient(90deg, rgba(50, 0, 0, 0.05) 3%, rgba(0, 0, 0, 0) 3%), linear-gradient(360deg,rgba(50, 0, 0, 0.05) 3%, rgba(0, 0, 0, 0) 3%);
    background-size: 20px 20px;
    background-position: center center;
}

p {/*段落*/
    margin: 1.5em 0;/*更改默认的段落距离*/
}
h1,h2,h3,h4,h5,h6 {
    margin: 1.5em 0;
    font-weight:bold;
    color:rgb(239,112,96);;      /*改变了其默认的标题颜色*/
}
h1 {
    font-size: 1.6em  ;

}
h2 {
    font-size: 1.4em;
}
h3 {
    font-size: 1.3em;
}
h4 {
    font-size: 1.2em;
}
h5 {
    font-size: 1em;
}
h6 {
    font-size: 1em;
}

ul, ol {
    padding-left: 32px;
}
ul{ /*无序列表*/
    list-style-type: disc;
}
ol { /*有序列表*/
    list-style-type: decimal;
}
li *
{
    /* color: #3e3e3e;*/
}

li{  /*在公众号下，改变不了li符号的属性（如颜色），并会影响其子元素的属性;而在其它博客平台中，则能正常使用*/
    margin-bottom: 0.5em;
    /*  color:#159957; */
}

blockquote { /*引用块*/
    display: block;
    padding: 15px 1rem;
    font-size: 0.9em;
    padding-right: 15px;
    margin: 1em 0;

    /*更改默认值*/
    color: #000000;
    border-left: 5px solid rgb(239,112,96);
    background: #EFEBE9;

    overflow: auto;
    overflow-scrolling: touch;
    word-wrap: normal;
    word-break: normal;
}
blockquote p {
    margin: 0px;
}

a { /*超链接*/
    text-decoration: none;
    color: #1e6bb8;
    word-wrap:break-word;
}

strong  /*强调*/
{
    font-weight: bold;
    color:#e96900;/*更改默认的颜色*/
}
em /*斜体*/
{
    /*font-style:italic;*//*把默认的斜体去掉*/
    color:#6200EA;/*更改默认的颜色*/
}
del /*删除线*/
{
    font-style:italic;
    text-decoration:none;/*把默认的删除线去掉*/
    color:#2962FF;/*更改默认的颜色*/
}
strong em/*强调的斜体*/
{
    font-weight: bold;
    color:#C51162;/*更改默认的颜色*/
}


hr {  /*分隔线*/
    height: 1px;
    margin: 1.5rem 0px;
    border: none;
    border-top: 1px dashed #A5A5A5;
}


img
{
    display: block;
    margin:0 auto;  /*图片水平居中*/
    /* margin:0 0;  */ /*图片水平居左，如需要请打开*/
    max-width:100%;
}
figcaption/*图片描述文字*/
{
    margin-top:10px;
    text-align:center;
    /* text-align:left;  */ /*当图片水平居左时，请打开*/
    color:#999;
    font-size: 0.7em;
}

/*================表格开始================*/
table
{
    display:table;
    width: 100% ;
    text-align: left;
}
tbody {
    border: 0;
}

table tr {
    border: 0;
    border-top: 1px solid #CCC;
    background-color: white;

}

/*隔行改变行的背景色*/
table tr:nth-child(2n) {
    background-color: #F8F8F8;
}


table tr th, table tr td {
    font-size: 1em;
    border: 1px solid #CCC;
    padding: 0.5em 1em;
    text-align: left;
}
/*表头的属性*/
table tr th {
    font-weight: bold;
    background-color: #F0F0F0;
}
/*================表格结束================*/

a[href^="#"] sup
{/*注脚*/
    vertical-align:super;
    margin:0 2px;
    padding:1px 3px;
    color: #ffffff;
    background:#666666;
    font-size:0.7em;
}