body {
    width: 100%;
    height: 100%;
    padding-top: 25px; /*与#header的高度相同*/
    overflow: hidden;
}

img {
    max-width: 40%;
    display: inline;
}

/*标题栏*/
/*滚动条宽度*/
#myTab::-webkit-scrollbar {
    height: 0;
    width: 0;
}

#myTab > li.active > a {
    background-color: #fff !important;
}

#myTab > li > a:hover {
    background-color: #ccc;
}

#myTab > li > a {
    position: absolute;
    text-decoration: blink;
    width: 100%;
    border-radius: inherit;
    top: 0;
    background-color: #eee;
    height: 26px;
    text-align: center;
    margin-right: 0;
    font-size: 13px;
    padding-top: 3px;
    color: #666;
    border: 0;
    /* border-image-width: 0; */
}

#myTab > li {
    display: inline-block;
    min-width: 100px;
    width: inherit;
    height: 26px;
}

#myTab {
    position: absolute;
    top: 0;
    height: initial;
    overflow-x: auto;
    white-space: nowrap;
    border-bottom: 0;
    overflow-y: hidden;
    width: 100%;
    display: inline-flex;
}

/*关闭按钮*/
.close {
    color: #999999;
    font-size: 10px;
    float: right;
    font-weight: 100;
    margin: 5px;
}

.close:hover {
    color: #666666;
}

.tip {
    color: #999;
}

/**内容页*/
.page-header {
    width: 100%;
    margin-top: 0px;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
}

/*编辑器*/
.editor {
    width: 100%;
    box-shadow: none;
    padding: 20px;
    border: 0 !important;
    height: 100% !important;
    border-radius: 0;
    resize: none;
    font-size: 16px;
    color: #444;
    overflow-y: auto;
}

.editor:focus {
    outline: none;
    box-shadow: none;
    border-width: 0;
}

/*展示区*/
.col {
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.md2html {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    word-wrap: break-word;
    word-break: break-all;
    display: block;
    color: #444;
    padding: 0 20px;
    font-size: 16px;
}

pre {
    padding: 0 !important;
    min-height: 30px !important;
}

/*代码滚动条*/
pre code span {
    white-space: nowrap;
}

pre code {
    overflow-x: auto;
    font-weight: normal;
    word-spacing: 0;
    letter-spacing: 0;
}

pre code::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

/*滚动条*/
::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 3px;
    background: rgba(0, 0, 0, 0);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0);
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

/*toast*/
#toast {
    font-weight: bold;
    margin: 0 !important;
    position: absolute;
    z-index: 99;
    top: 1.5em !important;
    right: 1.5em !important;
}
#toast > .alert {
    padding: 10px;
    margin-bottom: 10px;
}